{% load static %}
<!DOCTYPE html>
<html lang="es">
{% include 'app/partial/head.html' %}

<body>

    <main>
        {% block main %}
        {% endblock %}
    </main>
    
    {% include 'app/partial/footer.html' %}

    <script src="{% static 'assets/js/app/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap_5/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/app/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'assets/js/app/templatemo-script.js' %}"></script>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    
</body>

</html>