{% extends 'base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}


{% block content %}

<h3>Boy-Fiestas - Acceder a la página web</h3>

<div class="container">

  <form id="signinform" method="POST" action="/sign-in">
    {% csrf_token %}
    <label for="username">Nombre de Usuario</label>
    {{form.username}}

    <label for="password">Contraseña</label>
    {{form.password}}

    <label class="check-container">Mostrar Contraseñas
      <input type="checkbox" onclick="showPword()">
      <span class="checkmark"></span>
    </label>

    <button type="submit">Acceder a la página web</button>
  </form>

</div>

{% endblock %}


{% block extend_footer %}

{% endblock %}