{% load static %}
<footer>
    <div class="container__footer">

        <div class="box__footer">
            <div class="logo">
                <img src="{% static 'assets\img\Foto.png' %}" alt="">
            </div>
            <div class="terms">


            </div>
        </div>

        <div class="box__footer">

        </div>

        <div class="box__footer">
            <h2>Boy-Fiestas</h2>
            <a style="text-decoration: none;" href="html/acerca de nosotros.html">Acerca de nosotros</a>
            <a style="text-decoration: none;" href="html/galeria.html">Galeria</a>
        </div>

        <div class="box__footer  text-decoration: none;">
            <h2>Redes Sociales</h2>
            <a style="text-decoration: none;" href="https://www.facebook.com/BoyFiestas"><i
                    class="fab fa-facebook-square"></i> Facebook</a>
            <a style="text-decoration: none;" href="https://twitter.com/Boy_Fiestas"><i
                    class="fab fa-twitter-square"></i> Twitter</a>
            <a style="text-decoration: none;" href="https://www.youtube.com/channel/UCMPNcEyfUBQHiOse6HThG0g"><i
                    class="fab fa-youtube"></i> youtube</a>
            <a style="text-decoration: none;" href="https://www.instagram.com/boy.fiestas/"><i
                    class="fab fa-instagram-square"></i> Instagram</a>
        </div>
    </div>

    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2021 <b>Boy-Fiestas</b></p>
    </div>
</footer>